.form-component {
    margin: 5% 30% 0 30%;
    border: 1px solid;
    border-radius: 50px;
    padding: 5%;
}
.popover .arrow {
    display: none !important;
}
.popover {
    max-width: 85% !important;
    width: 85% !important;
    height: 75% !important;
    margin: 5%;
}
.dropdown-toggle, .choice-button{
    width: 195px;
}
.buttons{
    width: 125px;
}
.adjustWidth{
    width: 100%;
}
.save{
    float: right;
    width: 47%;
}
.questions{
    width: 50%;
}
.modal-dialog{
    max-width: 575px !important;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid blueviolet;
  }
